/*Can be removed once browser-style reset has been implemented*/
body {
    margin: 0;
}

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans'), local('NotoSans'), url('../../Neos.Neos/Fonts/NotoSans-Regular.ttf') format('truetype');
}

.editconflict-canvas {
    font-family: 'Noto Sans';
    font-size: .875rem;
    background-color: #141414;
    color: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
}

.editconflict-header {
    background-color: #ff460d;
    padding: 1rem;
    margin-bottom: 1rem;
}

.editconflict-header h1 {
    margin: 0;
}

.editconflict-table {
    border-collapse: collapse;
    width: 100%;
}

.editconflict-table th, td {
    padding: .5rem 1rem;
    text-align: left;
    vertical-align: top;
    border-bottom: 1px solid #222;
}

.editconflict-table td {
    background: #323232;
}

.editconflict-table .editconflict-change-type-pill {
    padding: .15rem .25rem;
    border-radius: 12px;
    color: #323232;;
}

.editconflict-table .editconflict-created {
    background-color: #00a338;
}

.editconflict-table .editconflict-changed {
    background-color: #00ADEE;
}

.editconflict-table .editconflict-removed {
    background-color: #ff460d;
}

.editconflict-table a {
    color: #bbbbbb;
}

.editconflict-table .editconflict-contact {
    color: #bbbbbb;
}
