.style__editconflictTable___oyacK {
    width: 100%;
    padding-top: 1rem;
}

.style__editconflictHint___29cwl {
    padding: 0 1rem;
}

.style__editconflictTable___oyacK th, .style__editconflictTable___oyacK td {
    padding: .5rem 1rem;
    text-align: left;
    vertical-align: top;
    border-bottom: 1px solid #222;
}

.style__editconflictTable___oyacK td {
    background: #323232;
}

.style__editconflictCreated___1hR2F,
.style__editconflictChanged___2hrQH,
.style__editconflictRemoved___2rPuI {
    padding: .15rem .25rem;
    border-radius: 12px;
    color: #323232;;
}

.style__editconflictCreated___1hR2F {
    background-color: #00a338;
}

.style__editconflictChanged___2hrQH {
    background-color: #00ADEE;
}

.style__editconflictRemoved___2rPuI {
    background-color: #ff460d;
}

