Neos:
  Neos:
    Ui:
      resources:
        javascript:
          'PunktDe.EditConflictPrevention:HighlightNonEditablePage':
            resource: resource://PunktDe.EditConflictPrevention/Public/HighlightNonEditablePages/Plugin.js
    userInterface:
      translation:
        autoInclude:
          'PunktDe.EditConflictPrevention': ['Main']

  Flow:
    security:
      authentication:
        providers:
          'Neos.Neos:Backend':
            requestPatterns:
              'PunktDe.EditConflictPrevention:ApiControllers':
                pattern: 'ControllerObjectName'
                patternOptions:
                  controllerObjectNamePattern: 'PunktDe\EditConflictPrevention\Controller\.*'
    mvc:
      routes:
        'PunktDe.EditConflictPrevention':
          position: 'before Neos.Neos'

